<%= simple_form_for([client, unbillable_purchase_order]) do |f| %>
  <%= f.input :details %>
  <%= f.input :amount %><br>
  <%= f.label :vendor_id %><br>
<%= f.collection_select :vendor_id, Vendor.order(:name), :id, :name, :selected => f.object.vendor_id || 1 %><br><br>
  
<% if current_user.id == 1 || current_user.id == 3 %>
<%= f.label :approval_status, class: "smallcolor" %><br>
<%= f.select :approval_status, ['Not approved', 'Approved'], :selected => f.object.approval_status %><br /><br />
<% end %>

  <%= f.label :bill_received_status %><br>
  <%= f.select :bill_received_status, ['Not given to Accounts', 'Given to Accounts'], :selected => f.object.bill_received_status %>
    <br><br>
    <%= f.label :bill_paid_status %><br>
<%= f.select :bill_paid_status, ['Not received', 'Received not paid', 'Paid'], :selected => f.object.bill_paid_status %>
    <br><br>
  <%= f.button :submit, class: "btn-primary" %>
<% end %>

