<div id="unbillable_purchase_orders">
  <header>
    <h4>Client <small><%= link_to @client.name, client_path(@client) %></small></h4>
  </header>
  
  <header>
    <h4 class="headercolor">Non-billable Purchase Order <small class="smallcolor"> INR <%= @unbillable_purchase_order.amount %></small></h4>
    
    <ul class="actions">
     <% if @unbillable_purchase_order.approval_status == "Approved" %>
      <li>
        <%= link_to "PDF", client_unbillable_purchase_order_path(@client, @unbillable_purchase_order, :format => "pdf"), class: "pdf" %>
      </li>
      <li>
        <a href="#" class="print" onclick="window.print();return false;">Print </a>
      </li>
     <% end %>
      <% if policy(@unbillable_purchase_order).update? %>
      <li><%= link_to "Edit NBPO", edit_client_unbillable_purchase_order_path(@client, @unbillable_purchase_order), class: "edit" %></li>
      <% end %>
      <% if policy(@unbillable_purchase_order).destroy? %>
      <li><%= link_to "Delete NBPO", client_unbillable_purchase_order_path(@client, @unbillable_purchase_order), method: :delete, data: { confirm: "Are you sure you want to delete this unbillable purchase order?" }, class: "delete" %></li>
      <% end %>
    </ul>
  </header>
  
  <table id="attributes">
    <tr>
      <th>Author:</th>
      <td><%= @unbillable_purchase_order.author.email %></td>
    </tr>
    
    <tr>
      <th>Created:</th>
      <td><%= time_ago_in_words(@unbillable_purchase_order.created_at) %> ago</td>
    </tr>
    
    <tr>
      <th>Vendor:</th>
      <td><%= @unbillable_purchase_order.vendor.name %></td>
    </tr>
    
    <% if @unbillable_purchase_order.approval_status == "Approved" %>
    
    <tr>
      <th>Purchase Order#:</th>
      <td><%= @unbillable_purchase_order.serial_number %></td>
    </tr>
    
    <tr>
      <th>Bill Received Status:</th>
      <td><%= @unbillable_purchase_order.bill_received_status %></td>
    </tr>
    
    <tr>
      <th>Bill Paid Status:</th>
      <td><%= @unbillable_purchase_order.bill_paid_status %></td>
    </tr>
    <% end %>
    
    <tr>
      <th>Approval Status:</th>
      <td><strong><%= @unbillable_purchase_order.approval_status %></strong></td>
    </tr>
    
  </table>
  
  <p><%= simple_format(@unbillable_purchase_order.details) %></p>
  
  <% if @unbillable_purchase_order.approval_status == "Approved" %>
    <div id="printer">
      <p class="logo"><%= image_tag 'METAL-LOGO.jpg' %><small class="address">#3, Sarkar Heritage, Kane Road, Bandstand, Bandra West, Mumbai 400 050. Tel: 91 22 6170 2600</small></p>
      <h3>P U R C H A S E  &nbsp;O R D E R</h3><br />

      <p><%= l Date.today if Date.today %></p>
      <p><strong>PO #: </strong><%= @unbillable_purchase_order.serial_number %></p><br />

      <p><strong>Client: </strong><%= @unbillable_purchase_order.client.name %></p>
      <p><strong>Vendor: </strong><%= @unbillable_purchase_order.vendor.name %></p>
      <p><%= @unbillable_purchase_order.vendor.address %></p><br />

      
      <p><strong>Amount:</strong> INR <%= @unbillable_purchase_order.amount %></p>  
    </div>
  <% end %>
</div>
