<%= simple_form_for @holiday do |f| %>
<%= f.input :name %>
<%= f.input :whichday %>
<%= f.input :mumbai, label: "Mumbai" %>
<%= f.input :delhi, label: "Delhi" %>

<%= f.button :submit, class: "btn btn-primary" %>
<% end %>