<header>
  <h4 class="headercolor">Vendor Types</h4>

  <ul class="actions">
    <li><%= link_to "New Ventype", new_admin_ventype_path, class: "new" %></li>
  </ul>
</header>

<div id="ventypes">
  <% @ventypes.sort_by(&:name).each do |ventype| %>
  <h5><%= link_to ventype.name, admin_ventype_path(ventype) %></h5>
  <% end %>
</div>

