<header>
  <h4>Vendor Types <small><%= @ventype.name %></small></h4>
  <ul class="actions">
    <li><%= link_to "Edit Ventype", edit_admin_ventype_path(@ventype), class: "edit" %></li>
    <li><%= link_to "Delete Ventype", admin_ventype_path(@ventype), method: :delete, data: { confirm: "Are you sure you want to delete this Ventype?" }, class: "delete" %></li>
  </ul>
</header>

<header>
  <h4 class="headercolor">Vendors</h4>
  
  <ul class="actions">
    <li><%= link_to "New Vendor", new_admin_ventype_vendor_path(@ventype), class: "new" %></li>
  </ul>
</header>

<ul id="vendors">
  <% @ventype.vendors.each do |vendor| %>
    <li>
      #<%= vendor.id %> - <%= link_to vendor.name, admin_ventype_vendor_path(@ventype, vendor) %>
    </li>
  <% end %>
</ul>