<header>
  <h4 class="headercolor">NBPOs across clients</h4>
</header>

<div class="container">   
  <div class="row" id="ideas">
    <div class="col-md-9">
      <table id="estimates">
        <tr>
          <th class="fifteen">Order #</th>
          <th class="fifteen">Client</th>
          <th class="fifteen">Amount</th>
          <th class="fifteen">Bill received?</th>
          <th class="fifteen">Vendor paid?</th>
        </tr>

        <% @unbillable_purchase_orders.each do |order| %>
          <% @client = order.client %>
          <tr>
            <td><%= link_to order.serial_number, [@client, order] %></td>
            <td><%= @client.name %></td>
            <td><%= order.amount %></td>
            <td><%= order.bill_received_status %></td>
            <td><%= order.bill_paid_status %></td>       
          </tr>
        <% end %>
      </table>
      <%= will_paginate @unbillable_purchase_orders %>
    </div><!-- col-md-9 -->
    
    <div class="col-md-3">
    <h3>Finance Links</h3>
    <ul class="nav nav-stacked">
      <li><%= link_to "All Estimates", finance_estimates_path %></li>
      <li><%= link_to "All Invoices", finance_invoices_path %></li>
      <li><%= link_to "All Purchase Orders", finance_purchase_orders_path %></li>
      <li><%= link_to "All Retainer Invoices", finance_retainer_invoices_path %></li>
    </ul>
  </div>
  </div><!-- row ideas -->
</div><!-- container -->