<%= simple_form_for([client, job, estimate]) do |f| %>
<%= f.label :estimate_type %><br>
<%= f.select :estimate_type, ['ART', 'AV', 'PRD', 'PRJ', 'WEB', 'MIS'], :selected => f.object.estimate_type %><br><br>
<%= f.label :status %><br>
<%= f.select :status, ['Unapproved', 'Partly Invoiced', 'Fully Invoiced', 'Closed'], :selected => f.object.status %><br><br>

<%= f.label :billable_entity_id %><br>
<%= f.collection_select :billable_entity_id, client.billable_entities.order(:name), :id, :name, :selected => f.object.billable_entity_id %><br><br>
 
 <div id="estfiles" >
   <h3>Attachments</h3>
   <%= render partial: "estfiles/form", locals: { f: f, index: 0 } %>
 </div>
 <p>
   <%= link_to "Add another file", new_estfile_path, remote: true, id: "add_file", data: { params: {index: estimate.estfiles.size} } %>
 </p>
  
<%= f.input :name %>
<%= f.input :description %>
<%= f.input :amount %>
 
<%= f.label :vendor_id %><br>
<%= f.collection_select :vendor_id, Vendor.order(:name), :id, :name, :selected => f.object.vendor_id || 1 %><br><br>
 
<%= f.input :notes, :input_html => { :value => 'This is an estimate of costs. Not a firm quotation. Rates are subject to change. Queries relating to this estimate if any must be brought to our notice in writing within 10 days of receipt, failing which the estimate will be deemed to be correct. Please note if you receive this Estimate as a computer-generated PDF document no signature is required. Taxes as applicable will be charged extra.'} %>
 
<%= f.input :signoff, :input_html => { :value => 'For METAL Communications Pvt Ltd' } %>
  
<%= f.input :signatory, :input_html => { :value => 'Production & Studio' } %>
 
<%= f.input :client_signatory, :input_html => { :value => 'Authorised Signatory for Client: _______________________ dated ______________' } %><br>
  
<%= f.input :printer_title, :input_html => { :value => 'E S T I M A T E' } %>
<%= f.input :printer_date %><br>
  
  
  <%= f.button :submit, class: "btn-primary" %>
<% end %>
