<div id="estimate">
  <header>
    <h4>Job <small><%= link_to @job.name, [@client, @job] %></small></h4>
  </header>
  
  <header>
    <h4 class="headercolor">Estimate <small class="smallcolor"><%= @estimate.name %></small></h4>
    
    <ul class="actions">
      <li>
        <%= link_to "PDF", client_job_estimate_path(@client, @job, @estimate, :format => "pdf"), class: "pdf" %>
      </li>
      <li>
        <a href="#" class="print" onclick="window.print();return false;">Print </a>
      </li>
      <% if policy(@estimate).update? %>
      <li>
        <%= link_to "Edit Estimate", [:edit, @client, @job, @estimate], class: "edit" %>
      </li>
      <% end %>
      <% if policy(@estimate).destroy? %>
      <li>
        <%= link_to "Delete Estimate", [@client, @job, @estimate], method: :delete, data: { confirm: "Are you sure you want to delete this estimate?" }, class: "delete" %>
      </li>
      <% end %>
    </ul>
  </header> 
  
  <table id="attributes">
    <tr>
      <th>Author:</th>
      <td><%= @estimate.author.email %></td>
    </tr>
    
    <tr>
      <th>Created:</th>
      <td><%= time_ago_in_words(@estimate.created_at) %> ago</td>
    </tr>
    
    <tr>
      <th>Job reference#:</th>
      <td><%= link_to @job.serial_number, [@client, @job] %></td>
    </tr>
    
    <tr>
      <th>Estimate#:</th>
      <td><%= @estimate.serial_number %></td>
    </tr>
    
    <tr>
      <th>Title:</th>
      <td><%= @estimate.name %></td>
    </tr>
    
    <tr>
      <th>Vendor:</th>
      <td><%= @estimate.vendor.name if !@estimate.vendor.nil? %></td>
    </tr>
    
    <% if @estimate.estfiles.any? %>
      <tr class="estfiles">
        <th>Attachments:</th>
        <td><% @estimate.estfiles.each do |estfile| %>
          <p>
            <%= link_to File.basename(estfile.file.url), estfile_path(estfile) %>
            (<%= number_to_human_size(estfile.file.size) %>)

            <% if policy(estfile).destroy? %>
            <%= link_to "Delete Attachment", estfile_path(estfile), method: :delete, data: { confirm: "Are you sure you want to delete this Attachment?" } %></p>     
          <% end %>
        <% end %></td>
      </tr>
      
      <tr>
      <th>Status:</th>
      <td><strong><%= @estimate.status %></strong></td>
    </tr>
      
    <% end %>
  </table>   
  
  <div id="printer">
  <p class="logo"><%= image_tag 'METAL-LOGO.jpg' %><small class="address">#3, Sarkar Heritage, Kane Road, Bandstand, Bandra West, Mumbai 400 050. Tel: 91 22 6170 2600</small></p>
  <h3><%= @estimate.printer_title %></h3><br />
    <p><%= l @estimate.printer_date if @estimate.printer_date %></p>
  <p>Estimate#: <%= @estimate.serial_number %></p><br />
  <h4>Client: <%= @estimate.job.client.name %></h4> 
  <p><%= @estimate.billable_entity.name %></p>
  <p><%= simple_format(@estimate.billable_entity.address) %></p><br />
  
  <p><strong><%= @estimate.name %></strong></p>
   
  <p><%= simple_format(@estimate.description) %></p>
  <p>INR <%= number_with_delimiter(@estimate.amount) %></p><br />
  
  <p><small><%= simple_format(@estimate.notes) %></small></p>
  <p><%= @estimate.signoff %></p><br /><br />
  <p><%= @estimate.signatory %></p>
  <p><%= @estimate.client_signatory %></p>
  </div>
  
  <header>
  <h5>Invoice Requisitions</h5>
  
  <ul class="actions">
    <% if policy(InvoiceRequisition.new(estimate: @estimate)).create? %>
    <li><%= link_to "New Invoice requisition", new_estimate_invoice_requisition_path(:estimate_id => (params[:id])), class: "new" %></li>
    <% end %>
  </ul>
</header>
  
  <ul id="invoice_requisitions">
    <% @estimate.invoice_requisitions.each do |invoice_requisition| %>
  <li>
    #<%= invoice_requisition.id %> - <%= link_to invoice_requisition.notes, [@estimate, invoice_requisition] %>
  </li>
  <% end %>
</ul>
 
 <header>
  <h5>Purchase Orders</h5>
  
  <ul class="actions">
    <% if policy(PurchaseOrder.new(estimate: @estimate)).create? %>
    <li><%= link_to "New Purchase Order", new_estimate_purchase_order_path(:estimate_id => (params[:id])), class: "new" %></li>
    <% end %>
  </ul>
</header>
 
 <ul id="purchase_orders">
  <% @estimate.purchase_orders.each do |purchase_order| %>
  <li>
    #<%= purchase_order.id %> - <%= link_to purchase_order.title, [@estimate, purchase_order] %>
  </li>
  <% end %>
</ul>

 <header>
  <h5>Invoices</h5>
  
  <ul class="actions">
    <% if policy(Invoice.new(estimate: @estimate)).create? %>
    <li><%= link_to "New Invoice", new_estimate_invoice_path(:estimate_id => (params[:id])), class: "new" %></li>
    <% end %>
  </ul>
</header>

<ul id="invoices">
  <% @estimate.invoices.each do |invoice| %>
  <li>
    #<%= invoice.id %> - <%= link_to invoice.title, [@estimate, invoice] %>
  </li>
  <% end %>
</ul>