<%= f.simple_fields_for :ideas, child_index: index do |ff| %>
  <%= ff.input :idea, as: :file, label: "Idea ##{index += 1}", hint: "For a non-visual idea like a radio/TV script, digital note, concept note, etc." %>
  <%= ff.input :idea_cache, as: :hidden %>
<% end %>