<%= simple_form_for([estimate, purchase_order]) do |f| %>
  <%= f.input :title %>
  <%= f.input :details %>
  <%= f.label :vendor_id %><br>
<%= f.collection_select :vendor_id, Vendor.order(:name), :id, :name, :selected => f.object.vendor_id || 1 %><br><br>
  
  <%= f.input :amount %><br>
  <%= f.input :amount_in_words %><br>
  <%= f.input :payment_terms %><br>
  
  <%= f.label :bill_given_status %><br>
  <%= f.select :bill_given_status, ['Not given to Accounts', 'Given to Accounts'], :selected => f.object.bill_given_status %><br><br>
  
  <%= f.label :client_paid_status %><br>
<%= f.select :client_paid_status, ['Not paid', 'Advance paid', 'Fully paid'], :selected => f.object.client_paid_status %>
    <br><br>
  
  <%= f.label :vendor_paid_status %><br>
<%= f.select :vendor_paid_status, ['Not paid', 'Advance paid', 'Fully paid'], :selected => f.object.vendor_paid_status %>
    <br><br>
    
  <%= f.button :submit, class: "btn-primary" %>
<% end %>