<header>
  <h2>New Purchase Order</h2>
  <p>Estimate: <%= @estimate.name %></p>
  <p>Client: <%= @estimate.job.client.name %></p>
</header>

<%= render "form", client: @client, job: @job, estimate: @estimate, purchase_order: @purchase_order %>