<div id="purchase_order">
  <header>
    <h4>Client <small><%= @client.name %></small></h4>
    <h4>Job <small><%= link_to @job.name, [@client, @job] %></small></h4>
    <h4>Estimate <small><%= link_to @estimate.name, [@client, @job, @estimate] %></small></h4>
  </header>
  
  <header>
    <h4 class="headercolor">Purchase Order <small class="smallcolor"><%= @purchase_order.title %></small></h4>
    <ul class="actions">
     <li>
       <%= link_to "PDF", estimate_purchase_order_path(@estimate, @purchase_order, :format => "pdf"), class: "pdf" %>
      </li>
     <li>
        <a href="#" class="print" onclick="window.print();return false;">Print </a>
      </li>
      <% if policy(@purchase_order).update? %>
      <li><%= link_to "Edit PO", [:edit, @estimate, @purchase_order], class: "edit" %></li>
      <% end %>
      <% if policy(@purchase_order).destroy? %>
      <li>
        <%= link_to "Delete PO", [@estimate, @purchase_order], method: :delete, data: { confirm: "Are you sure you want to delete this purchase order?" }, class: "delete" %>
      </li>
      <% end %>
    </ul>
  </header>
  
  <table id="attributes">
    <tr>
      <th>Author:</th>
      <td><%= @purchase_order.author.email %></td>
    </tr>
    
    <tr>
      <th>Created:</th>
      <td><%= time_ago_in_words(@purchase_order.created_at) %> ago</td>
    </tr>
    
    <tr>
      <th>Reference Estimate#:</th>
      <td><%= link_to @estimate.serial_number, [@client, @job, @estimate] %></td>
    </tr>
    
    <tr>
      <th>Purchase Order#:</th>
      <td><%= @purchase_order.serial_number %></td>
    </tr>
    
    <tr>
      <th>Title:</th>
      <td><%= @purchase_order.title %></td>
    </tr>
    
    <tr>
      <th>Bill Given Status:</th>
      <td><%= @purchase_order.bill_given_status %></td>
    </tr>
    
    <tr>
      <th>Client Paid Status:</th>
      <td><%= @purchase_order.client_paid_status %></td>
    </tr>
    
    <tr>
      <th>Vendor Paid Status:</th>
      <td><%= @purchase_order.vendor_paid_status %></td>
    </tr>
    
  </table>
  
  <div id="printer">
    <p class="logo"><%= image_tag 'METAL-LOGO.jpg' %><small class="address">#3, Sarkar Heritage, Kane Road, Bandstand, Bandra West, Mumbai 400 050. Tel: 91 22 6170 2600</small></p>
    <h3>P U R C H A S E  &nbsp;O R D E R</h3><br />

    <p><%= l @purchase_order.created_at %></p>
    <p><strong>PO#: </strong><%= @purchase_order.serial_number %></p><br />

    <h4>Client: </strong><%= @purchase_order.estimate.job.client.name %></h4>
    <p><strong>Vendor: </strong><%= @purchase_order.vendor.name %></p>
    <p><%= @purchase_order.vendor.address %></p><br />

    <h5><%= @purchase_order.title %></h5><br>
    <%= simple_format(@purchase_order.details) %>
    <p><strong>Amount: </strong>INR <%= @purchase_order.amount %></p>
    <p><%= @purchase_order.amount_in_words %></p>
    <p><strong>Payment terms: </strong><%= simple_format(@purchase_order.payment_terms) %></p>
  
  </div>
  
</div>