<%= status_transition_for(comment) %>
<blockquote class="comment">
  <%= simple_format(comment.text) %>
  <footer>
    <%= time_ago_in_words(comment.created_at) %> ago by <cite><%= (comment.author).to_s.split("@").first %></cite>
  </footer>
</blockquote>






