<header>
  <h5>New Comment</h5>
</header>

<%= simple_form_for [job, comment] do |f| %>
  <%= f.input :text %>
  <%= f.association :status, default: "Concept" %>
  <%= render "tags/form", f: f %>
  <%= f.submit class: "btn btn-success" %>
<% end %>