<%= simple_form_for([estimate, invoice]) do |f| %>
<%= f.label :invoice_type %><br>
<%= f.select :invoice_type, ['ART', 'AV', 'PRD', 'PRJ', 'WEB', 'MIS'], :selected => f.object.invoice_type %><br><br>

<%= f.label :billable_entity_id %><br>
<%= f.collection_select :billable_entity_id, estimate.job.client.billable_entities.order(:name), :id, :name, :selected => f.object.billable_entity_id %><br><br>

<%= f.input :title %>
<%= f.input :details %>
 
<%= f.input :amount %><br>
<%= f.input :service_tax %><br>
<%= f.input :swachh_bharat %><br>
<%= f.input :krishi_kalyan_cess %><br>
<%= f.input :total_amount %><br>
<%= f.input :amount_in_words %><br>

<%= f.input :notes, :input_html => { :value => 'All queries/disputes pertaining to this invoice must be brought to our notice in writing within 7 days of receipt. Else, it will be deemed to be correct. Please pay by a/c payee cheque in favour of METAL Communications Pvt. Ltd. | PAN: AAFCM8454J | Service Tax No.: AAFCM8454JST001 | Service Tax @ 14%. Swachh Bharat Cess @ 0.5% | Krishi Kalyan Cess @ 0.5%'} %>
<%= f.input :signoff, :input_html => { :value => 'For METAL Communications Pvt Ltd' } %>
<%= f.input :signatory, :input_html => { :value => 'Authorised Signatory' } %>
<%= f.input :client_signatory %>

<%= f.label :paid_status %><br>
<%= f.select :paid_status, ['Not paid', 'Advance paid', 'Fully paid', 'Scrapped'], :selected => f.object.paid_status %><br><br>

<%= f.input :printer_title, :input_html => { :value => 'I N V O I C E' } %>
<%= f.input :printer_date %><br>
 
<%= f.button :submit, class: "btn-primary" %>
  
<% end %>
