<div id="invoice">
  <header>
    <h4>Client <small><%= @client.name %></small></h4>
    <h4>Job <small><%= link_to @job.name, [@client, @job] %></small></h4>
    <h4>Estimate <small><%= link_to @estimate.name, [@client, @job, @estimate] %></small></h4>
    
  </header>
  
  <header>
    <h4 class="headercolor">Invoice <small class="smallcolor"><%= @invoice.title %></small></h4>
    
    <ul class="actions">
      <li>
        <%= link_to "PDF", estimate_invoice_path(@estimate, @invoice, :format => "pdf"), class: "pdf" %>
      </li>
      <li>
        <a href="#" class="print" onclick="window.print();return false;">Print </a>
      </li>
      <% if policy(@invoice).update? %>
      <li><%= link_to "Edit Invoice", [:edit, @estimate, @invoice], class: "edit" %></li>
      <% end %>
      <% if policy(@invoice).destroy? %>
      <li>
        <%= link_to "Delete Invoice", [@estimate, @invoice], method: :delete, data: { confirm: "Are you sure you want to delete this invoice?" }, class: "delete" %>
      </li>
      <% end %>
    </ul>
  </header>
  
  <table id="attributes">
    <tr>
      <th>Author:</th>
      <td><%= @invoice.author.email %></td>
    </tr>
    
    <tr>
      <th>Created:</th>
      <td><%= time_ago_in_words(@invoice.created_at) %> ago</td>
    </tr>
    
    <tr>
      <th>Reference Estimate#:</th>
      <td><%= link_to @estimate.serial_number, [@client, @job, @estimate] %></td>
    </tr>
    
    <tr>
      <th>Invoice#:</th>
      <td><%= @invoice.serial_number %></td>
    </tr>
    
    <tr>
      <th>Title:</th>
      <td><%= @invoice.title %></td>
    </tr>
    
    <tr>
      <th>Paid status: </th>
      <td class="status status-delivered"><%= @invoice.paid_status %></td>
    </tr>
    
  </table>
  
  <div id="printer">
  <p class="logo"><%= image_tag 'METAL-LOGO.jpg' %><small class="address">#3, Sarkar Heritage, Kane Road, Bandstand, Bandra West, Mumbai 400 050. Tel: 91 22 6170 2600</small></p><br>
  <h3><%= @invoice.printer_title %></h3><br />
    <p><%= l @invoice.printer_date if @invoice.printer_date %></p>
  <p><strong>Invoice#: </strong><%= @invoice.serial_number %></p><br />
  
  <h4>Client: <%= @invoice.estimate.job.client.name %></h4> 
  <p><strong><%= @invoice.estimate.billable_entity.name %></strong></p>
  <p><%= simple_format(@invoice.estimate.billable_entity.address) %></p><br />
  
  <p><strong><%= @invoice.title %></strong></p>
  <p><%= simple_format(@invoice.details) %></p>
  <p><strong>Amount: </strong>INR <%= number_with_delimiter(@invoice.amount) %></p>
  <p><strong>Service Tax: </strong>INR <%= number_with_delimiter(@invoice.service_tax) %></p>
  <p><strong>Swachh Bharat Cess: </strong>INR <%= number_with_delimiter(@invoice.swachh_bharat) %></p>
  <p><strong>Krishi Kalyan Cess: </strong>INR <%= number_with_delimiter(@invoice.krishi_kalyan_cess) %></p>
  <p><strong>Total Amount: </strong>INR <%= number_with_delimiter(@invoice.total_amount) %></p>
  <p><strong><%= (@invoice.amount_in_words) %></strong></p>
  
  <p><small><%= simple_format(@invoice.notes) %></small></p>
  <p><%= @invoice.signoff %></p><br><br>
  <p><%= @invoice.signatory %></p>
  <p><%= @invoice.client_signatory %></p>
  </div>
  <br />
  <hr>