<%= simple_form_for([estimate, invoice_requisition]) do |f| %>
  <%= f.input :notes %>
  <%= f.label :approval %><br>
<%= f.select :approval, ['Signed approval', 'Email approval'], :selected => f.object.approval %><br><br>
  <%= f.button :submit, class: "btn-primary" %>
  
<% end %>
