<header>
  <h2>New Invoice requisition <small><%= @estimate.name %></small></h2>
</header>

<%= render "form", client: @client, job: @job, estimate: @estimate, invoice_requisition: @invoice_requisition %>