<div id="invoice_requisition">
  <header>
    <h4>Client <small><%= @client.name %></small></h4>
    <h4>Job <small><%= link_to @job.name, [@client, @job] %></small></h4>
    <h4>Estimate <small><%= link_to @estimate.name, [@client, @job, @estimate] %></small></h4>   
  </header>
  
  <header>
    <h4 class="headercolor">Invoice requisition <small class="smallcolor"><%= @client.name %></small></h4>
    <ul class="actions">
      <% if policy(@invoice_requisition).update? %>
      <li><%= link_to "Edit Invoice requisition", [:edit, @estimate, @invoice_requisition], class: "edit" %></li>
      <li>
        <% end %>
        <% if policy(@invoice_requisition).destroy? %>
      <li>
        <%= link_to "Delete Invoice requisition", [@estimate, @invoice_requisition], method: :delete, data: { confirm: "Are you sure you want to delete this invoice requisition?" }, class: "delete" %>
      </li>
      <% end %>
  </header>
  
  <table id="attributes">
    <tr>
      <th>Author:</th>
      <td><%= @invoice_requisition.author.email %></td>
    </tr>
    
    <tr>
      <th>Created:</th>
      <td><%= time_ago_in_words(@invoice_requisition.created_at) %> ago</td>
    </tr>
    
    <tr>
      <th>Reference Estimate#:</th>
      <td><%= link_to @estimate.serial_number, [@client, @job, @estimate] %></td>
    </tr>
    
    <tr>
      <th>Approval:</th>
      <td><%= @invoice_requisition.approval %></td>
    </tr>
    
  </table>
  
  <p><strong>Job: </strong><%= @job.name %></p>
  <%= simple_format(@invoice_requisition.notes) %>
  <p><strong>Approval: </strong><%= @invoice_requisition.approval %></p>
  