<p>Hello!</p><br />

<p><%= @invoice_requisition.author.email %> requests for an Invoice for <%= @client.name %></p>

<p><strong>Job reference #: </strong><%= link_to @job.serial_number, [@client, @job] %></p>
<p><strong>Requisition: <%= @invoice_requisition.notes %></strong></p>

<br />

<p>You can view this requisition online by going to:
  <%= estimate_invoice_requisition_url(@estimate, @invoice_requisition) %></p>
 
