<div class="row" id="finance">
  <div class="col-md-9">
    <header>
      <h3 class="headercolor">Finance Control</h3>
    </header>
    
    <p>Metal Backstage Finance Control, work area for only finance department.</p>
  </div>
  
  <div class="col-md-3">
    <h3>Finance Links</h3>
    <ul class="nav nav-stacked">
      <li><%= link_to "All Estimates", finance_estimates_path %></li>
      <li><%= link_to "All Invoices", finance_invoices_path %></li>
      <li><%= link_to "All Retainer Invoices", finance_retainer_invoices_path %></li>
      <li><%= link_to "All Purchase Orders", finance_purchase_orders_path %></li>
      <li><%= link_to "All NBPOs", finance_unbillable_purchase_orders_path %></li>
    </ul>
  </div>
</div>