<%= simple_form_for([client, job]) do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= render "tags/form", f: f %>

  <div id="attachments">
    <h3>Attachments for the brief</h3>
    <%= render partial: "attachments/form", locals: { f: f, index: 0 } %>  
  </div>
  <p>
    <%= link_to "Add another file", new_attachment_path, remote: true, id: "add_file", data: { params: {index: job.attachments.size} } %>
  </p>

  <div id="images">
    <h3>Ideas with visuals</h3>
    <%= render partial: "images/form", locals: { f: f, index: 0 } %>  
  </div>

  <p>
  <%= link_to "Add another visual", new_image_path, remote: true, id: "add_image", data: { params: {index: job.images.size} } %>
  </p>

  <div id="ideas">
    <h3>Ideas without visuals</h3>
    <%= render partial: "ideas/form", locals: { f: f, index: 0 } %>
  </div>

  <p>
    <%= link_to "Add another idea", new_idea_path, remote: true, id: "add_idea", data: { params: {index: job.ideas.size} } %>
  </p>

<%= f.input :brief_date %>
  <%= f.input :deadline %>
  <%= f.button :submit, class: "btn-primary" %>
<% end %>