<div class="container">
  <div class="row col-md-12">
    <div id="jobs">
      <header>
        <h4>Client <small><%= link_to @client.name, client_path(@client) %></small></h4>
      </header>

      <header>
        <h4 class="headercolor">Job <small class="smallcolor"><%= @job.name %></small></h4>
        <ul class="actions">
          <% if policy(@job).update? %>
            <li><%= link_to "Edit Job", edit_client_job_path(@client, @job), class: "edit" %></li>
          <% end %>
          <% if policy(@job).destroy? %>
            <li><%= link_to "Delete Job", client_job_path(@client, @job), method: :delete, data: { confirm: "Are you sure you want to delete this Job?" }, class: "delete" %></li>
          <% end %>    
        </ul>
      </header>
      
    </div><!-- id=job -->
  </div><!-- row col-md-12 -->
</div><!-- container -->

<div class="container">   
<div class="row" id="ideas">
  <div class="col-md-9">
     
  <table id="attributes">
    <tr>
      <th>Author:</th>
      <td><%= @job.author.email %></td>
    </tr>
    
    <tr>
      <th>Created:</th>
      <td><%= time_ago_in_words(@job.created_at) %> ago</td>
    </tr>
    
    <tr>
      <th>Brief date:</th>
      <td><%= l @job.brief_date %></td>
    </tr>
    
    <tr>
      <th>Deadline:</th>
      <td><%= l @job.deadline %></td>
    </tr>
    
    <tr>
      <th>Agency Job#:</th>
      <td><%= @job.serial_number %></td>
    </tr>
    
    <tr>
      <th>Description:</th>
      <td><%= simple_format(@job.description) %></td>
    </tr>
    
    <% if @job.attachments.any? %>
      <tr class="attachments">
        <th>Attachments</th>
        <td><% @job.attachments.each do |attachment| %>
      <p>
        <%= link_to File.basename(attachment.file.url), attachment_path(attachment) %>
        (<%= number_to_human_size(attachment.file.size) %>)

          <% if policy(attachment).destroy? %>
          <%= link_to "Delete Attachment", attachment_path(attachment), method: :delete, data: { confirm: "Are you sure you want to delete this Attachment?" } %></p>     
          <% end %>
      <% end %></td>
      </tr>
    <% end %>
    
    <% if @job.status.present? %>
      <tr>
        <th>Status:</th>
        <td class="job-status"><%= render @job.status %></td>
      </tr>
    <% end %>
    
    <% if @job.tags.any? %>
      <tr id="tags">
        <th>Tags:</th>
        <td><%= render @job.tags, job: @job %></td>
      </tr>
    <% end %>
    
    <tr id="watchers">
      <th>Watchers:</th>
      <td>
        <%= toggle_watching_button(@job) %><br />
        <%= @job.watchers.map(&:email).to_sentence %>
      </td>
    </tr>
  </table>
     
  <div class="row">
    <% if @job.images.any? %>
      <div class=“recent”>
        <% recent = @job.images.last %>
        <p>IDEA#<%= recent.id %></p>
        <p><%= link_to (image_tag image_path(recent), width: '100%'), image_path(recent), target: '_blank' %></p>
        <% if policy(recent).destroy? %>
          <%= link_to "Delete Image", image_path(recent), method: :delete, data: { confirm: "Are you sure you want to delete this Image?" }, class: "delete" %>
        <% end %>
      </div><!-- recent -->   
      </br>
      <div class=“images”>
        <% @job.images.order("id DESC").offset(1).each do |image| %>
          <div class="col-md-4">
          <p>IDEA#<%= image.id %></p>
            <%= link_to (image_tag image_path(image), width: '100%', height: '150'), image_path(image), target: '_blank' %></p>
          <% if policy(image).destroy? %>
            <p><%= link_to "Delete Image", image_path(image), method: :delete, data: { confirm: "Are you sure you want to delete this Image?" }, class: "delete" %></p>     
          <% end %>
          </div><!-- col-md-4 -->
        <% end %>
      </div><!-- images -->
    <% end %>
  </div><!-- row -->
  <br>
  <div class="row">
    <% if @job.ideas.any? %>
      <h4>Ideas <small>Non-visual (radio/TV scripts, concept notes, etc.)</small></h4>
      <div class=“ideas”>
        <% @job.ideas.each do |idea| %>
          <p>
            <%= link_to File.basename(idea.idea.url), idea_path(idea) %>
            <%= number_to_human_size(idea.idea.size) %>
          
        <% if policy(idea).destroy? %>
        <%= link_to "Delete Idea", idea_path(idea), method: :delete, data: { confirm: "Are you sure you want to delete this Idea?" } %></p>     
          <% end %>
        <% end %>
      </div>
    <% end %>
  
  </div><!-- row -->
  
  </div><!-- col-md-9 -->
  <div class="col-md-3">
    <% if policy(@comment).create? %>
      <%= render "comments/form", job: @job, comment: @comment %>
    <% end %>
    <header>
      <h5>Comments</h5>
    </header>
    <div id="comments">
      <% if @job.comments.persisted.any? %>
        <%= render @job.comments.persisted %>
      <% else %>
        <p>No comments yet.</p>
      <% end %>   
    </div><!-- comments -->
  </div><!-- col-md-3 --> 
</div><!-- row -->
</div><!-- container -->

<div class="container">
  <div class="row col-md-12"> 
   
<% if policy(EstimateRequisition.new(job: @job)).show? %>
<header>  
  <h5>Estimate Requisitions</h5>
  <ul class="actions">
    <% if policy(EstimateRequisition.new(job: @job)).create? %>
      <li><%= link_to "New Estimate Requisition", new_job_estimate_requisition_path(:job_id => (params[:id])), class: "new" %></li>
    <% end %>
  </ul>
</header>

<ul id="estimate_requisitions">
  <% @job.estimate_requisitions.each do |estimate_requisition| %>
  <li>
    #<%= estimate_requisition.id %> - <%= link_to estimate_requisition.title, [@job, estimate_requisition] %>
  </li>
  <% end %>
</ul>
 
    <% end %>
  
<% if policy(Estimate.new(job: @job)).show? %>
<header>
<h5>Estimates</h5>

  <ul class="actions">
   <% if policy(Estimate.new(job: @job)).create? %>
    <li><%= link_to "New Estimate", new_client_job_estimate_path(@client, @job), class: "new" %></li>
    <% end %>
  </ul>
</header>

<ul id="estimates">
  <% @job.estimates.each do |estimate| %>
  <li>
    #<%= estimate.id %> - <%= link_to estimate.name, [@client, @job, estimate] %>
  </li>
  <% end %>
</ul>
<% end %>
</div><!-- row col-md-12 -->
</div><!-- container -->
