<header>
  <h4 class="headercolor"><%= link_to (image_tag 'METAL-LOGO.jpg'), "http://metalcomm.com" %> </h4>
  
  <% admins_only do %>
    <ul class="actions">
      <li><%= link_to "New Client", new_admin_client_path, class: "new" %></li>
    </ul>
  <% end %>
</header>

<div class="container">
  <div class="row">
   <div class="col-md-8" id="clients">
      <% @clients.each do |client| %>
        <h2><%= link_to client.name, client %></h2>
        <p><%= client.description %></p>
      <% end %>
    
      <% if !user_signed_in? %>
     <p><strong>Now showing</strong></p>
      <iframe width="600" height="394" src="https://www.youtube.com/embed/0-NxAj82Cb8?rel=0" frameborder="0" allowfullscreen></iframe>
      <% end %>
    </div><!-- col-md-8 -->
    
    <div class="col-md-4">
      <div id="wassups">
        <p>
          <strong>Wassup... </strong>&nbsp;<% if user_signed_in? && current_user.admin? %><%= link_to "New", new_wassup_path(@wassup) %><% end %>
        </p>
        <% @wassups.each do |wassup| %>
          <h3><%= wassup.title %></h3>
          <% if wassup.wimage.present? %>
        <%= image_tag wassup.wimage.url, :width => '100%' %>
          <% end %>
          <%= simple_format(wassup.text) %><br />
        <% if user_signed_in? && current_user.admin? %>
            <p><%= link_to "Edit", edit_wassup_path(wassup) %>&nbsp;&nbsp;<%= link_to "Delete", wassup_path(wassup), method: :delete, data: { confirm: "Are you sure you want to delete this Wassup item?" } %></p>
          <% end %>
        <% end %>
      </div>
      <% if user_signed_in? %>
      <header>
        <p><strong>Leave balance</strong></p>
        <ul class="actions">
          <li><%= link_to "Apply for leave", new_leave_application_path, class: "new" %></li>
        </ul>
      </header>
      <p>CL: <%= current_user.casual %> days | SL: <%= current_user.sick %> days | PL: <%= current_user.privileged %> days</p>
      <% leaves = LeaveApplication.where(author: current_user).order("id desc").limit(10) %>
      <% leaves.each do |leave| %>
        <p>
        <%= leave.created_at.strftime("%d %b, %Y") %>
        <%= link_to leave.details, leave_application_path(leave) %>&nbsp;&nbsp;
        <% if leave.status.nil? %>
         <span>Pending... </span>
        <% elsif leave.status == "Approved" %>
         <i class="fa fa-check"></i>
         <% else %>
         <i class= "fa fa-times"></i>
        <% end %>
        </p>   
      <% end %>
      <% end %>
    </div>    
  </div><!-- row -->
</div><!-- container -->
