<% title(@client.name, "Clients") %>
<div class="container">
  <div class="row col-md-12">
    <header>
      <h4 class="headercolor"><%= @client.name %> <small class="smallcolor"><%= @client.description %></small></h4>
      <ul class="actions">
        <% if policy(@client).update? %>
          <li><%= link_to "Edit Client", edit_client_path(@client), class: "edit" %></li>
        <% end %>
        <% admins_only do %>
          <li><%= link_to "Delete Client", admin_client_path(@client), method: :delete, data: { confirm: "Are you sure you want to delete this Client?" }, class: "delete" %></li>
        <% end %>
      </ul>
    </header>
  </div>
</div><!-- container -->
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <header>
          <h5>Jobs</h5>
          <ul class="actions">
            <li>
              <%= form_tag search_client_jobs_path(@client), method: :get, class: "form-inline" do %>
              <%= label_tag "search", "Search", class: "sr-only" %>
              <%= text_field_tag "search", params[:search], class: "form-control" %>
              <%= submit_tag "Search", class: "btn btn-default" %>
              <% end %>
            </li>
            <% if policy(Job.new(client: @client)).create? %>
            <li><%= link_to "New Job", new_client_job_path(@client), class: "new" %></li>
            <% end %>
          </ul>
        </header>

        <table id="jobs">
          <tr>
            <th class="fifteen">Job # </th>
            <th class="fifty">Details </th>
            <th class="fifteen">Author </th>
            <th class="fifteen">Status </th>           
          </tr>
          
          <% @jobs.each do |job| %>        
          <tr class =<%= "mine" if job.author == current_user %>>
              <td><%= job.serial_number %></td>
              <td><%= link_to job.name, client_job_path(@client, job) %></td>
              <td><%= (job.author).to_s.split("@").first %></td>
              <td><%= render job.status if job.status %></td>
            </tr>
          <% end %>
          
        </table>
        <%= will_paginate @jobs %>
   
      </div><!-- col-md-9 -->
    
    <div class="col-md-3">
      <% if policy(BillableEntity.new(client: @client)).create? %>
        <header>
          <ul>
            <li><%= link_to "New Billable entity", new_client_billable_entity_path(@client), class: "new" %></li>
          </ul>
        </header>
        <ul id="billable_entities">
          <% @client.billable_entities.each do |billable_entity| %>
            <li>
              <%= link_to billable_entity.name, client_billable_entity_path(@client, billable_entity) %>
            </li>
          <% end %>
        </ul>
      <% end %>
      <hr>
      
      <header>     
          <ul>
            <% if policy(RetainerInvoice.new(client: @client)).create? %>
            <li><%= link_to "New Retainer invoice", new_client_retainer_invoice_path(@client), class: "new" %></li>
            <% end %>
          </ul>
        </header>
        
        <% if policy(RetainerInvoice.new(client: @client)).show? %>
          <ul id="retainer_invoices">
            <% @client.retainer_invoices.order("id desc").limit(3).each do |retainer_invoice| %>
              <li>
                <%= link_to retainer_invoice.title, client_retainer_invoice_path(@client, retainer_invoice) %>
              </li>
            <% end %>
          </ul>
        <% end %>
        
        <% if policy(UnbillablePurchaseOrder.new(client: @client)).show? %>
      <header>
        <ul>
          <% if policy(UnbillablePurchaseOrder.new(client: @client)).create? %>
          <li><%= link_to "New NBPO", new_client_unbillable_purchase_order_path(@client), class: "new" %></li>
          <% end %>
        </ul>
      </header>
      <ul id="unbillable_purchase_orders">
        <% @client.unbillable_purchase_orders.order("id desc").limit(5).each do |unbillable_purchase_order| %>
          <li>
            <%= link_to unbillable_purchase_order.serial_number, client_unbillable_purchase_order_path(@client, unbillable_purchase_order) %>&nbsp;&nbsp;<small><%= unbillable_purchase_order.author.to_s.split("@").first %></small>&nbsp;&nbsp;<% if unbillable_purchase_order.approval_status == "Approved" %><i class="fa fa-check"></i><% else %><i class="fa fa-times"></i><% end %>
          </li>
        <p><small><%= unbillable_purchase_order.details %></small></p>
        <hr>
        <% end %>
      </ul>
      <% end %>
      
      <% if Role.where(role: "handler", user_id: current_user, client_id: @client).exists? %>
      <% @myjobs = Job.where(client_id: @client, :author => current_user) %>
       <div class="scorecard">
       <h4 class="mine"><%= current_user.to_s.split("@").first %>: scorecard</h4>
        <p><strong>Jobs handled: </strong><%= @myjobs.count %></p>
        
        <% if @myjobs.where(status_id: 4).exists? %>
          <p><small>Delivered: </small><%= @myjobs.where(status_id: 4).count %></p>
        <% end %>
        
        <% if @myjobs.where(status_id: 5).exists? %>
          <p><small>Scrapped: </small><%= @myjobs.where(status_id: 5).count %></p>
        <% end %>
        
        <% if @myjobs.where(status_id: 1).exists? %>
          <p><small>In concept: </small><%= @myjobs.where(status_id: 1).count %></p>
        <% end %>
        
        <% if @myjobs.where(status_id: 2).exists? %>
          <p><small>In production: </small><%= @myjobs.where(status_id: 2).count %></p>
        <% end %>
        
        <% if @myjobs.where(status_id: 3).exists? %>
          <p><small>Estimate/invoice: </small><%= @myjobs.where(status_id: 3).count %></p>
        <% end %>
        
        <% if @myjobs.where(status_id: 6).exists? %>
          <p><small>Re-opened: </small><%= @myjobs.where(status_id: 6).count %></p>
        <% end %>
        
        <% counter = 0 %>
        <% unapproved = 0 %>
        <% partly = 0 %>
        <% fully = 0 %>
        <% closed = 0 %>
        <% @myjobs.each do |job| %>
          <% count = job.estimates.count %>
          <% counter += count %>
         <% unapp = job.estimates.where(status: "Unapproved").count %>
          <% unapproved += unapp %>
         <% pi = job.estimates.where(status: "Partly Invoiced").count %>
          <% partly += pi %>
         <% fi = job.estimates.where(status: "Fully Invoiced").count %>
          <% fully += fi %>
         <% cl = job.estimates.where(status: "Closed").count %>
          <% closed += cl %>
        <% end %>
        
        <% if counter > 0 %>
         <p><strong>Estimates raised: </strong><%= counter %></p>
        <% end %>
         <% if unapproved > 0 %>
         <p><small>Unapproved: </small><%= unapproved %></p>
        <% end %>
        <% if partly > 0 %>
         <p><small>Partly invoiced: </small><%= partly %></p>
        <% end %>
        <% if fully > 0 %>
         <p><small>Fully invoiced: </small><%= fully %></p>
        <% end %>
         <% if closed > 0 %>
         <p><small>Closed: </small><%= closed %></p>
        <% end %>      
        
        <% counter = 0 %>
        <% notpaid = 0 %>
        <% advance = 0 %>
        <% fully = 0 %>
        <% scrapped = 0 %>
        <% @myjobs.each do |job| %>
          <% job.estimates.each do |est| %>
            <% count = est.invoices.count %>
            <% counter += count %>
         <% np = est.invoices.where(paid_status: "Not paid").count %>
            <% notpaid += np %>
         <% ap = est.invoices.where(paid_status: "Advance paid").count %>
            <% advance += ap %>
         <% fp = est.invoices.where(paid_status: "Fully paid").count %>
            <% fully += fp %>
         <% sc = est.invoices.where(paid_status: "Scrapped").count %>
            <% scrapped += sc %>
          <% end %>
        <% end %>
        
        <% if counter > 0 %>
         <p><strong>Invoices raised: </strong><%= counter %></p>
        <% end %>
         <% if notpaid > 0 %>
         <p><small>Not paid: </small><%= notpaid %></p>
        <% end %>
         <% if advance > 0 %>
         <p><small>Advance paid: </small><%= advance %></p>
        <% end %>
        <% if fully > 0 %>
         <p><small>Fully paid: </small><%= fully %></p>
        <% end %>
         <% if scrapped > 0 %>
         <p><small>Scrapped: </small><%= scrapped %></p>
        <% end %>  
        
        <% counter = 0 %>
        <% notgivenacct = 0 %>
        <% givenacct = 0 %>
        <% cnotpaid = 0 %>
        <% cadvance = 0 %>
        <% cfully = 0 %>
        <% vnotpaid = 0 %>
        <% vadvance = 0 %>
        <% vfully = 0 %>
        <% @myjobs.each do |job| %>
          <% job.estimates.each do |est| %>
            <% count = est.purchase_orders.count %>
            <% counter += count %>
            <% nga = est.purchase_orders.where(bill_given_status: "Not given to Accounts").count %>
            <% notgivenacct += nga %>
            <% ga = est.purchase_orders.where(bill_given_status: "Given to Accounts").count %>
            <% givenacct += ga %>
            
            <% cnp = est.purchase_orders.where(client_paid_status: "Not paid").count %>
            <% cnotpaid += cnp %>
            <% cap = est.purchase_orders.where(client_paid_status: "Advance paid").count %>
            <% cadvance += cap %>
            <% cfp = est.purchase_orders.where(client_paid_status: "Fully paid").count %>
            <% cfully += cfp %>
            
            <% vnp = est.purchase_orders.where(vendor_paid_status: "Not paid").count %>
            <% vnotpaid += vnp %>
            <% vap = est.purchase_orders.where(vendor_paid_status: "Advance paid").count %>
            <% vadvance += vap %>
            <% vfp = est.purchase_orders.where(vendor_paid_status: "Fully paid").count %>
            <% vfully += vfp %>
          <% end %>
        <% end %>
        
        <% if counter > 0 %>
         <p><strong>Purchase orders raised: </strong><%= counter %></p>
        <% end %>
         <% if notgivenacct > 0 %>
         <p><small>Bills not give to Accts: </small><%= notgivenacct %></p>
        <% end %>
         <% if givenacct > 0 %>
         <p><small>Bills given to Accts: </small><%= givenacct %></p>
        <% end %>
        <% if cnotpaid > 0 %>
         <p><small>Client not paid: </small><%= cnotpaid %></p>
        <% end %>
        <% if cadvance > 0 %>
         <p><small>Client paid advance: </small><%= cadvance %></p>
        <% end %>
        <% if cfully > 0 %>
         <p><small>Client paid in full: </small><%= cfully %></p>
        <% end %>
        <% if vnotpaid > 0 %>
         <p><small>Vendor not paid: </small><%= vnotpaid %></p>
        <% end %>
        <% if vadvance > 0 %>
         <p><small>Vendor paid advance: </small><%= vadvance %></p>
        <% end %>
        <% if vfully > 0 %>
         <p><small>Vendor paid in full: </small><%= vfully %></p>
        <% end %>
        
        <% counter = 0 %>
        <% bnotgiven = 0 %>
        <% bgiven = 0 %>
        <% bnotrecd = 0 %>
        <% brecd = 0 %>
        <% bpaid = 0 %>
        <% @mynbpos = UnbillablePurchaseOrder.where(author: current_user, approval_status: "Approved").order("created_at desc") %>
        <% count = @mynbpos.count %>
        <% counter += count %>
         
        <% bng = @mynbpos.where(bill_received_status: "Not given to Accounts").count %>
        <% bnotgiven += bng %>
        <% bg = @mynbpos.where(bill_received_status: "Given to Accounts").count %>
        <% bgiven += bg %>

        <% bnr = @mynbpos.where(bill_paid_status: "Not received").count %>
        <% bnotrecd += bnr %>
        <% br = @mynbpos.where(bill_paid_status: "Received").count %>
        <% brecd += br %>
        <% bp = @mynbpos.where(bill_paid_status: "Paid").count %>
        <% bpaid += bp %>
        
        <% if counter > 0 %>
         <p><strong>NBPOs raised: </strong><%= counter %></p>
        <% end %>
        <% if bgiven > 0 %>
         <p><small>Bill given to Accts: </small><%= bgiven %></p>
        <% end %>
         <% if bnotgiven > 0 %>
         <p><small>Not given to Accts: </small><%= bnotgiven %></p>
        <% end %>     
        <% if bnotrecd > 0 %>
         <p><small>Bill not received: </small><%= bnotrecd %></p>
        <% end %>
        <% if brecd > 0 %>
         <p><small>Received not paid: </small><%= brecd %></p>
        <% end %>
        <% if bpaid > 0 %>
         <p><small>Bill paid: </small><%= bpaid %></p>
        <% end %>
        </div><!-- scorecard -->             
      <% end %>
      
      <% if Role.where(:user_id => current_user, :role => "manager", :client_id => @client).exists? || Role.where(:user_id => current_user, :role => "director", :client_id => @client).exists? || current_user.admin? %>
          
        <% rows = Role.where(:client_id => @client, role: "manager") + Role.where(:client_id => @client, role: "handler") %>
        <a class="btn btn-primary btn-team" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
  Team Scorecards
</a>
        <div class="collapse" id="collapseExample">
        <% rows.each do |row| %>
          <% user = User.find(row.user_id) %>
          <% @teamjobs = @jobs.where(:author => user) %>
          
          <div class="scorecard well">
            <h4 class="mine"><%= user.to_s.split("@").first %>: scorecard</h4>
            <p><strong>Jobs handled: </strong><%= @teamjobs.count %></p>
            <% if @teamjobs.where(status_id: 4).exists? %>
              <p><small>Delivered: </small><%= @teamjobs.where(status_id: 4).count %></p>
            <% end %>
            <% if @teamjobs.where(status_id: 5).exists? %>
              <p><small>Scrapped: </small><%= @teamjobs.where(status_id: 5).count %></p>
            <% end %>
            <% if @teamjobs.where(status_id: 1).exists? %>
              <p><small>In Concept: </small><%= @teamjobs.where(status_id: 1).count %></p>
            <% end %>
            <% if @teamjobs.where(status_id: 2).exists? %>
              <p><small>In Production: </small><%= @teamjobs.where(status_id: 2).count %></p>
            <% end %>
            <% if @teamjobs.where(status_id: 6).exists? %>
              <p><small>Re-opened: </small><%= @teamjobs.where(status_id: 6).count %></p>
            <% end %>          
            
            <% counter = 0 %>
            <% unapproved = 0 %>
            <% partly = 0 %>
            <% fully = 0 %>
            <% closed = 0 %>
            <% @teamjobs.each do |job| %>
              <% count = job.estimates.count %>
              <% counter += count %>
             <% unapp = job.estimates.where(status: "Unapproved").count %>
              <% unapproved += unapp %>
             <% pi = job.estimates.where(status: "Partly Invoiced").count %>
              <% partly += pi %>
             <% fi = job.estimates.where(status: "Fully Invoiced").count %>
              <% fully += fi %>
             <% cl = job.estimates.where(status: "Closed").count %>
              <% closed += cl %>
            <% end %>

            <% if counter > 0 %>
             <p><strong>Estimates raised: </strong><%= counter %></p>
            <% end %>
             <% if unapproved > 0 %>
             <p><small>Unapproved: </small><%= unapproved %></p>
            <% end %>
            <% if partly > 0 %>
             <p><small>Partly invoiced: </small><%= partly %></p>
            <% end %>
            <% if fully > 0 %>
             <p><small>Fully invoiced: </small><%= fully %></p>
            <% end %>
             <% if closed > 0 %>
             <p><small>Closed: </small><%= closed %></p>
            <% end %>  
            
            
            <% counter = 0 %>
            <% notpaid = 0 %>
            <% advance = 0 %>
            <% fully = 0 %>
            <% scrapped = 0 %>
            <% @teamjobs.each do |job| %>
              <% job.estimates.each do |est| %>
                <% count = est.invoices.count %>
                <% counter += count %>
             <% np = est.invoices.where(paid_status: "Not paid").count %>
                <% notpaid += np %>
             <% ap = est.invoices.where(paid_status: "Advance paid").count %>
                <% advance += ap %>
             <% fp = est.invoices.where(paid_status: "Fully paid").count %>
                <% fully += fp %>
             <% sc = est.invoices.where(paid_status: "Scrapped").count %>
                <% scrapped += sc %>
              <% end %>
            <% end %>

            <% if counter > 0 %>
             <p><strong>Invoices raised: </strong><%= counter %></p>
            <% end %>
             <% if notpaid > 0 %>
             <p><small>Not paid: </small><%= notpaid %></p>
            <% end %>
             <% if advance > 0 %>
             <p><small>Advance paid: </small><%= advance %></p>
            <% end %>
            <% if fully > 0 %>
             <p><small>Fully paid: </small><%= fully %></p>
            <% end %>
             <% if scrapped > 0 %>
             <p><small>Scrapped: </small><%= scrapped %></p>
            <% end %> 
            
            
            <% counter = 0 %>
            <% notgivenacct = 0 %>
            <% givenacct = 0 %>
            <% cnotpaid = 0 %>
            <% cadvance = 0 %>
            <% cfully = 0 %>
            <% vnotpaid = 0 %>
            <% vadvance = 0 %>
            <% vfully = 0 %>
            <% @teamjobs.each do |job| %>
              <% job.estimates.each do |est| %>
                <% count = est.purchase_orders.count %>
                <% counter += count %>
                <% nga = est.purchase_orders.where(bill_given_status: "Not given to Accounts").count %>
                <% notgivenacct += nga %>
                <% ga = est.purchase_orders.where(bill_given_status: "Given to Accounts").count %>
                <% givenacct += ga %>

                <% cnp = est.purchase_orders.where(client_paid_status: "Not paid").count %>
                <% cnotpaid += cnp %>
                <% cap = est.purchase_orders.where(client_paid_status: "Advance paid").count %>
                <% cadvance += cap %>
                <% cfp = est.purchase_orders.where(client_paid_status: "Fully paid").count %>
                <% cfully += cfp %>

                <% vnp = est.purchase_orders.where(vendor_paid_status: "Not paid").count %>
                <% vnotpaid += vnp %>
                <% vap = est.purchase_orders.where(vendor_paid_status: "Advance paid").count %>
                <% vadvance += vap %>
                <% vfp = est.purchase_orders.where(vendor_paid_status: "Fully paid").count %>
                <% vfully += vfp %>
              <% end %>
            <% end %>
            
            <% if counter > 0 %>
             <p><strong>Purchase orders raised: </strong><%= counter %></p>
            <% end %>
             <% if notgivenacct > 0 %>
             <p><small>Bills not give to Accts: </small><%= notgivenacct %></p>
            <% end %>
             <% if givenacct > 0 %>
             <p><small>Bills given to Accts: </small><%= givenacct %></p>
            <% end %>
            <% if cnotpaid > 0 %>
             <p><small>Client not paid: </small><%= cnotpaid %></p>
            <% end %>
            <% if cadvance > 0 %>
             <p><small>Client paid advance: </small><%= cadvance %></p>
            <% end %>
            <% if cfully > 0 %>
             <p><small>Client paid in full: </small><%= cfully %></p>
            <% end %>
            <% if vnotpaid > 0 %>
             <p><small>Vendor not paid: </small><%= vnotpaid %></p>
            <% end %>
            <% if vadvance > 0 %>
             <p><small>Vendor paid advance: </small><%= vadvance %></p>
            <% end %>
            <% if vfully > 0 %>
             <p><small>Vendor paid in full: </small><%= vfully %></p>
            <% end %>
            
            <% counter = 0 %>
            <% bnotgiven = 0 %>
            <% bgiven = 0 %>
            <% bnotrecd = 0 %>
            <% brecd = 0 %>
            <% bpaid = 0 %>
            <% @mynbpos = UnbillablePurchaseOrder.where(author: user, approval_status: "Approved").order("created_at desc") %>
            <% count = @mynbpos.count %>
            <% counter += count %>

            <% bng = @mynbpos.where(bill_received_status: "Not given to Accounts").count %>
            <% bnotgiven += bng %>
            <% bg = @mynbpos.where(bill_received_status: "Given to Accounts").count %>
            <% bgiven += bg %>

            <% bnr = @mynbpos.where(bill_paid_status: "Not received").count %>
            <% bnotrecd += bnr %>
            <% br = @mynbpos.where(bill_paid_status: "Received").count %>
            <% brecd += br %>
            <% bp = @mynbpos.where(bill_paid_status: "Paid").count %>
            <% bpaid += bp %>

            <% if counter > 0 %>
             <p><strong>NBPOs raised: </strong><%= counter %></p>
            <% end %>
            <% if bgiven > 0 %>
             <p><small>Bill given to Accts: </small><%= bgiven %></p>
            <% end %>
             <% if bnotgiven > 0 %>
             <p><small>Not given to Accts: </small><%= bnotgiven %></p>
            <% end %>     
            <% if bnotrecd > 0 %>
             <p><small>Bill not received: </small><%= bnotrecd %></p>
            <% end %>
            <% if brecd > 0 %>
             <p><small>Received not paid: </small><%= brecd %></p>
            <% end %>
            <% if bpaid > 0 %>
             <p><small>Bill paid: </small><%= bpaid %></p>
            <% end %>
            
          </div>
        <% end %>
        </div>     
      <% end %>   
    </div><!-- col-md-3 -->
  </div><!-- row -->
</div><!-- container -->

