Hello!

<p><%= @leave_application.author %> has requested for <%= @leave_application.leave_type %>: </p>

<p>From: <%= @leave_application.from_date.strftime("%d %b, %Y") %></p>
<p>To: <%= @leave_application.to_date.strftime("%d %b, %Y") %></p>
<p>Details: <%= @leave_application.details %></p>

<p>Current <strong>pre-approval </strong>leave balances are:</p>
<p>Casual Leave: <%= @leave_application.author.casual %> days</p>
<p>Sick Leave: <%= @leave_application.author.sick %> days</p>
<p>Privilege Leave: <%= @leave_application.author.privileged %> days</p>


<p>You can view this leave application request online by going to:
  <%= leave_application_url(@leave_application) %></p>
