Hello!

<p>This is to notify you that Admin has processed the following <%= @leave_application.leave_type %> request by <%= @leave_application.author %>: </p>

<p>Result: <strong><%= @leave_application.status %></strong></p>
<p>Details: <%= @leave_application.details %></p>
<p>From: <%= @leave_application.from_date %></p>
<p>To: <%= @leave_application.to_date %></p>

<p>You can view this leave request online by going to:
  <%= leave_application_url(@leave_application) %></p>