<%= simple_form_for([client, retainer_invoice]) do |f| %>
  <%= f.input :title %>
  <%= f.input :narration %>
  <%= f.label :billable_entity_id %><br>
  <%= f.collection_select :billable_entity_id, client.billable_entities.order(:name), :id, :name, :selected => 1 %><br><br>
  
  <%= f.input :amount %><br>
  <%= f.input :service_tax %><br>
  <%= f.input :swachh_bharat %><br>
  <%= f.input :krishi_kalyan_cess %><br>
  <%= f.input :total_amount %><br>
  <%= f.input :amount_in_words %><br>
  <%= f.input :notes, :input_html => { :value => 'All queries/disputes pertaining to this invoice must be brought to our notice in writing within 7 days of receipt. Else, it will be deemed to be correct. Please pay by a/c payee cheque in favour of METAL Communications Pvt. Ltd. | PAN: AAFCM8454J | Service Tax No.: AAFCM8454JST001 | Service Tax @ 14% | Swachh Bharat Cess @ 0.5% | Krishi Kalyan Cess @ 0.5%'} %><br>
  <%= f.input :signoff, :input_html => { :value => 'For METAL Communications Pvt Ltd' } %><br><br>
  <%= f.input :signatory, :input_html => { :value => 'Authorised Signatory' } %><br>
  
  <%= f.label :status %><br>
<%= f.select :status, ['Open', 'Paid and closed', 'Scrapped'], :selected => f.object.status %><br><br>
   
<%= f.input :printer_title, :input_html => { :value => 'M O N T H L Y  R E T A I N E R' } %><br>
  <%= f.input :printer_date %><br>
    
  <%= f.button :submit, class: "btn-primary" %>
<% end %>
