<div id="retainer_invoices">
  <header>
    <h4>Client <small><%= link_to @client.name, client_path(@client) %></small></h4>
  </header>
  
  <header>
    <h4 class="headercolor">Retainer invoice <small class="smallcolor"><%= @retainer_invoice.title %></small></h4>
    <ul class="actions">
      <li>
        <%= link_to "PDF", client_retainer_invoice_path(@client, @retainer_invoice, :format => "pdf"), class: "pdf" %>
      </li>
      <li>
        <a href="#" class="print" onclick="window.print();return false;">Print </a>
      </li>
      <% if policy(@retainer_invoice).update? %>
      <li><%= link_to "Edit Invoice", edit_client_retainer_invoice_path(@client, @retainer_invoice), class: "edit" %></li>
      <% end %>
      <% if policy(@retainer_invoice).destroy? %>
      <li><%= link_to "Delete Invoice", client_retainer_invoice_path(@client, @retainer_invoice), method: :delete, data: { confirm: "Are you sure you want to delete this retainer invoice?" }, class: "delete" %></li>
      <% end %>
    </ul>
  </header>
  
  <table id="attributes">
    <tr>
      <th>Author:</th>
      <td><%= @retainer_invoice.author.email %></td>
    </tr>
    
    <tr>
      <th>Created:</th>
      <td><%= time_ago_in_words(@retainer_invoice.created_at) %> ago</td>
    </tr>
    
    <tr>
      <th>Invoice#:</th>
      <td><%= @retainer_invoice.serial_number %></td>
    </tr>
    
    <tr>
      <th>Client:</th>
      <td><%= @client.name %></td>
    </tr>
    
    <tr>
      <th>Status:</th>
      <td><%= @retainer_invoice.status %></td>
    </tr>
    
  </table>   
  
  <div id="printer">
  <p class="logo"><%= image_tag 'METAL-LOGO.jpg' %><small class="address">#3, Sarkar Heritage, Kane Road, Bandstand, Bandra West, Mumbai 400 050. Tel: 91 22 6170 2600</small></p>
  <h3><%= @retainer_invoice.printer_title %></h3>
  <p><%= l @retainer_invoice.printer_date if @retainer_invoice.printer_date %></p>
  <p>Invoice#: <%= @retainer_invoice.serial_number %></p><br />
   
   <p><%= @retainer_invoice.client.name %></p>
  <p><strong><%= @retainer_invoice.billable_entity.name %></strong></p>
  <p><%= simple_format(@retainer_invoice.billable_entity.address) %></p><br />
  
  <p><%= simple_format(@retainer_invoice.narration) %></p>
  <p>INR <%= number_with_delimiter(@retainer_invoice.amount) %></p>
  <p><strong>Service tax:</strong> INR <%= @retainer_invoice.service_tax %></p>
  <p><strong>Swachh Bharat Cess:</strong> INR <%= @retainer_invoice.swachh_bharat %></p>
  <p><strong>Krishi Kalyan Cess:</strong> INR <%= @retainer_invoice.krishi_kalyan_cess %></p>
  <p><strong>Total: </strong>INR <%= @retainer_invoice.total_amount %></p>
  <p><%= @retainer_invoice.amount_in_words %></p><br />
  
  <p><strong>Notes:</strong><small><%= simple_format(@retainer_invoice.notes) %></small></p>
  <p><%= @retainer_invoice.signoff %></p><br><br>
  <p><%= @retainer_invoice.signatory %></p>
  </div>
</div>