<%= f.simple_fields_for :attachments, child_index: index do |ff| %>
  <%= ff.input :file, as: :file, label: "File ##{index += 1}", hint: "For documents with the brief like client notes, research docs, references, etc." %>
  <%= ff.input :file_cache, as: :hidden %>
<% end %>

