<div class="row" id="admin">
  <div class="col-md-9">
    <header>
      <h3 class="headercolor">Admin Lounge</h3>
    </header>
    
    <p>Metal Backstage Admin Lounge, the backstage behind Backstage.</p>
  </div>
  
  <div class="col-md-3">
    <h3>Admin Links</h3>
    <ul class="nav nav-stacked">
      <li><%= link_to "Metalloids", admin_users_path %></li>
    </ul>
  </div>
</div>
