<header>
  <h4 class="headercolor">Retainer invoices across clients</h4>
</header>

<div class="container">   
  <div class="row" id="ideas">
    <div class="col-md-9">

      <table id="estimates">
        <tr>
          <th class="fifteen">Date</th>
          <th class="fifteen">Invoice #</th>
          <th class="fifteen">Client</th>
          <th class="fifteen">Amount</th>
          <th class="fifteen">Status</th>
        </tr>

        <% @retainer_invoices.each do |invoice| %>
          <% @client = invoice.client %>
          <tr>
            <td><%= l invoice.printer_date %></td>
            <td><%= link_to invoice.serial_number, [@client, invoice] %></td>
            <td><%= @client.name %></td>
            <td><%= invoice.amount %></td>
            <td><%= invoice.status %></td>       
          </tr>
        <% end %>
      </table>
      <%= will_paginate @retainer_invoices %>
    </div><!-- col-md-9 -->
    
    <div class="col-md-3">
    <h3>Finance Links</h3>
    <ul class="nav nav-stacked">
      <li><%= link_to "All Estimates", finance_estimates_path %></li>
      <li><%= link_to "All Invoices", finance_invoices_path %></li>
      <li><%= link_to "All Purchase Orders", finance_purchase_orders_path %></li>
      <li><%= link_to "All NBPOs", finance_unbillable_purchase_orders_path %></li>
    </ul>
  </div>
  </div><!-- row ideas -->
</div><!-- container -->