/* line 4, /Users/narayan/RAILS-PROJECTS/metalbackstage/app/assets/stylesheets/admin/application.scss */
#admin .col-md-3 h3 {
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: bold;
  color: #959595;
  padding-left: 15px;
}
