<header>
  <h4 class="headercolor">Purchase Orders across clients</h4>
</header>

<div class="container">   
  <div class="row" id="ideas">
    <div class="col-md-9">
      <table id="estimates">
        <tr>
          <th class="fifteen">Serial #</th>
          <th class="fifteen">Client</th>
          <th class="fifteen">Amount</th>
          <th class="fifteen">Client paid?</th>
          <th class="fifteen">Vendor paid?</th>
          <th class="fifteen">Bill given?</th>
        </tr>

        <% @purchase_orders.each do |order| %>
          <% @estimate = order.estimate %>
          <% @job = @estimate.job %>
          <% @client = @job.client %>
          <tr>
            <td><%= link_to order.serial_number, [@estimate, order] %></td>
            <td><%= @client.name %></td>
            <td><%= order.amount %></td>
            <td><%= order.client_paid_status %></td>
            <td><%= order.vendor_paid_status %></td>
            <td><%= order.bill_given_status %></td>    
          </tr>
        <% end %>
      </table>
      <%= will_paginate @purchase_orders %>
    </div><!-- col-md-9 -->
    
    <div class="col-md-3">
    <h3>Finance Links</h3>
    <ul class="nav nav-stacked">
      <li><%= link_to "All Estimates", finance_estimates_path %></li>
      <li><%= link_to "All Invoices", finance_invoices_path %></li>
      <li><%= link_to "All Retainer Invoices", finance_retainer_invoices_path %></li>
      <li><%= link_to "All NBPOs", finance_unbillable_purchase_orders_path %></li>
    </ul>
  </div>
  </div><!-- row ideas -->
</div><!-- container -->