<p>Hello!</p><br />

<p><%= @estimate_requisition.author.email %> requests for an Estimate for <%= @client.name %></p>

<p><strong>Job reference #: </strong><%= link_to @job.serial_number, [@client, @job] %></p>
<p><strong>Requisition: <%= @estimate_requisition.title %></strong></p>
<p><strong>Vendor: </strong><%= @estimate_requisition.vendor.name %></p>
<%= simple_format(@estimate_requisition.details) %>
<p><strong>Amount: </strong>INR <%= @estimate_requisition.amount %></p><br />

<p>You can view this requisition online by going to:
  <%= job_estimate_requisition_url(@job, @estimate_requisition) %></p>