<div class="tag">
  <% if policy(job).update? %>
    <%= link_to "<span></span>".html_safe, remove_job_tag_path(job, tag), method: :delete, remote: true, class: "remove", title: "remove" %>
  <% end %>
  <%= link_to tag.name, search_client_jobs_path(job.client, search: "tag:#{tag.name}") %>
</div>