<p>Hello!</p><br />

<p><%= @job.name %> for <%= @client.name %> has been updated.</p>

<p><%= @comment.author.email %> wrote:</p>

<p><%= @comment.text %></p><br />

<p>You can view this job online by going to:
<%= client_job_url(@client, @job) %></p>
