<header>
  <h4 class="headercolor">Invoices across clients</h4>
</header>

<div class="container">   
  <div class="row" id="ideas">
    <div class="col-md-9">

      <table id="estimates">
        <tr>
          <th class="fifteen">Date</th>
          <th class="fifteen">Serial #</th>
          <th class="fifteen">Client</th>
          <th class="forty">For Estimate</th>
          <th class="fifteen">Amount</th>
          <th class="fifteen">Status</th>
        </tr>

        <% @invoices.each do |invoice| %>
          <% @estimate = invoice.estimate %>
          <% @job = @estimate.job %>
          <% @client = @job.client %>
          <tr>
            <td><%= l invoice.printer_date %></td>
            <td><%= link_to invoice.serial_number, [@estimate, invoice] %></td>
            <td><%= @client.name %></td>
            <td><%= link_to @estimate.name, [@client, @job, @estimate] %></td>
            <td><%= invoice.amount %></td>
            <td><%= invoice.paid_status %></td>       
          </tr>
        <% end %>
      </table>
      <%= will_paginate @invoices %>
    </div><!-- col-md-9 -->
    
    <div class="col-md-3">
    <h3>Finance Links</h3>
    <ul class="nav nav-stacked">
      <li><%= link_to "All Estimates", finance_estimates_path %></li>
      <li><%= link_to "All Retainer Invoices", finance_retainer_invoices_path %></li>
      <li><%= link_to "All Purchase Orders", finance_purchase_orders_path %></li>
      <li><%= link_to "All NBPOs", finance_unbillable_purchase_orders_path %></li>
    </ul>
  </div>
  </div><!-- row ideas -->
</div><!-- container -->