<%= simple_form_for([client, billable_entity]) do |f| %>
  <%= f.input :name %>
  <%= f.input :contact_name %>
  <%= f.input :address %>
  <%= f.input :email %>
  <%= f.input :phone %>
  
  <%= f.button :submit, class: "btn-primary" %>
<% end %>