<div id="billable_entities">
  <header>
    <h4>Client <small><%= link_to @client.name, client_path(@client) %></small></h4>
  </header>
  
  <header>
    <h4 class="headercolor">Billable entity <small class="smallcolor"><%= @billable_entity.name %></small></h4>
    
    <ul class="actions">
      <% if policy(@billable_entity).update? %>
      <li><%= link_to "Edit Billable entity", edit_client_billable_entity_path(@client, @billable_entity), class: "edit" %></li>
      <% end %>
      <% if policy(@billable_entity).destroy? %>
      <li><%= link_to "Delete Billable entity", client_billable_entity_path(@client, @billable_entity), method: :delete, data: { confirm: "Are you sure you want to delete this billable entity?" }, class: "delete" %></li>
      <% end %>
    </ul>
    
  </header>
  <p><%= @billable_entity.name %></p>
  <p><%= @billable_entity.contact_name %></p> 
  <p><%= simple_format(@billable_entity.address) %></p>
  <p><strong>Phone: </strong><%= @billable_entity.phone %></p>
  <p><strong>Email: </strong><%= @billable_entity.email %></p> 
  
</div>