Hello!

<p>This is to notify you that I have approved the following NBPO requested by <%= @unbillable_purchase_order.author %>: </p>

<p>Client: <%= @client.name %></p>
<p>Details: <%= @unbillable_purchase_order.details %></p>
<p>Amount: INR <%= @unbillable_purchase_order.amount %></p>
<p>Vendor: <%= @unbillable_purchase_order.vendor.name %></p>

<p>You can view this NBPO request online by going to:
  <%= client_unbillable_purchase_order_url(@client, @unbillable_purchase_order) %></p>