<%= simple_form_for(leave_application) do |f| %>
  <%= f.label :leave_type %><br>
  <%= f.select :leave_type, ['Privileged Leave', 'Sick Leave', 'Casual Leave'], :selected => f.object.leave_type || 'Casual Leave' %>
    <br><br>
  <%= f.input :details %>
  <%= f.input :from_date %><br>
  <%= f.input :to_date %><br>
  
<% if current_user.id == 1 || current_user.id == 9 %>
<%= f.label :status, class: "smallcolor" %><br>
<%= f.select :status, ['Not approved', 'Approved'], :selected => f.object.status %><br /><br />
<% end %>
    <br><br>
    
  <%= f.button :submit, class: "btn-primary" %>
  
<% end %>

