<% if @leave_application.author == current_user || current_user.admin? || current_user.finance? || current_user == User.find(9) %>
  <header>
    <h2>Edit Leave Application <small><%= @leave_application.author %></small></h2>
  </header>

<%= render "form", leave_application: @leave_application %>

<% end %>