
<% if @leave_application.author == current_user || current_user.admin? || current_user.finance? || current_user == User.find(9) %>

   <header>
    <h4 class="headercolor">Leave Application <small class="smallcolor"><%= @leave_application.author %></small></h4>
    <ul class="actions">
      
      <li><%= link_to "Edit Application", [:edit, @leave_application], class: "edit" %></li>  
      <li>
        <%= link_to "Delete Application", [@leave_application], method: :delete, data: { confirm: "Are you sure you want to delete this application?" }, class: "delete" %>
      </li>
    </ul>
  </header>

<div class="container">   
  <div class="row" id="leave">
    <div class="col-md-9">

      <table id="attributes">
      <tr>
        <th>Metalloid:</th>
        <td><%= @leave_application.author %></td>
      </tr>

      <tr>
        <th>Duration:</th>
        <td><%= (@leave_application.to_date - @leave_application.from_date).to_i + 1 %> days</td>
      </tr>

      <tr>
        <th>From:</th>
        <td><%= @leave_application.from_date.strftime("%d %b, %Y") %></td>
      </tr>

      <tr>
        <th>To:</th>
        <td><%= @leave_application.to_date.strftime("%d %b, %Y") %></td>
      </tr>

      <tr>
        <th>Type of Leave:</th>
        <td><%= @leave_application.leave_type %></td>
      </tr>
      
      <tr>
        <th>Reason:</th>
        <td><%= simple_format(@leave_application.details) %></td>
      </tr>
      
      <% unless @leave_application.status.nil? %>
      <tr>
        <th>Approved?</th>
        <td><%= @leave_application.status %></td>
      </tr>
      <% end %>
      
      </table>
    </div><!-- col-md-9 -->
  </div><!-- row leave -->
</div><!-- container -->
<% end %>