<%= simple_form_for ([job, estimate_requisition]) do |f| %>
  <%= f.input :title %>
  <%= f.input :details %>
  <%= f.label :vendor_id %><br>
<%= f.collection_select :vendor_id, Vendor.order(:name), :id, :name, :selected => f.object.vendor_id || 1 %><br><br>
  <%= f.input :amount %>
  <%= f.input :er_attach, label: "Attachment" %>
  <%= f.input :er_attach_cache, as: :hidden %>
  
  <%= f.button :submit, class: "btn-primary" %>
  
<% end %>

