<div id="invoice">
  <header>
    <h4>Client <small><%= @client.name %></small></h4>
    <h4>Job <small><%= link_to @job.name, [@client, @job] %></small></h4>
    
  </header>
  
  <header>
    <h4 class="headercolor">Estimate Requisition <small class="smallcolor"><%= @estimate_requisition.title %></small></h4>
    <ul class="actions">
      <% if policy(@estimate_requisition).update? %>
      <li><%= link_to "Edit Estimate requisition", [:edit, @job, @estimate_requisition], class: "edit" %></li>
      <% end %>
      <% if policy(@estimate_requisition).destroy? %>
      <li>
        <%= link_to "Delete Estimate requisition", [@job, @estimate_requisition], method: :delete, data: { confirm: "Are you sure you want to delete this estimate requisition?" }, class: "delete" %>
      </li>
      <% end %>
    </ul>
  </header>
  
  <table id="attributes">
    <tr>
      <th>Author:</th>
      <td><%= @estimate_requisition.author.email %></td>
    </tr>
    
    <tr>
      <th>Created:</th>
      <td><%= time_ago_in_words(@estimate_requisition.created_at) %> ago</td>
    </tr>
    
    <tr>
      <th>Reference Job#:</th>
      <td><%= link_to @job.serial_number, [@client, @job] %></td>
    </tr>
    
    <% if @estimate_requisition.er_attach.present? %>
    <tr>
      <th>Attachment:</th>
      <td><%= link_to File.basename(@estimate_requisition.er_attach.url), @estimate_requisition.er_attach.url %></td>
    </tr>
    <% end %>
    
  </table>
  
  <p><strong>Client: </strong><%= @client.name %></p>
  <p><strong>Requisition: <%= @estimate_requisition.title %></strong></p>
  <p><strong>Vendor: </strong><%= @estimate_requisition.vendor.name %></p>
  <%= simple_format(@estimate_requisition.details) %>
  <p><strong>Amount: </strong>INR <%= @estimate_requisition.amount %></p>
</div>
  