@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed|Open+Sans:400,400italic);
@import "font-awesome";
@import "clients";
@import "estimates";
@import "jobs";
@import "admin/application";
@import "admin/users";
@import "print";
@import "responsive";

body {
  padding-top: 60px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Roboto Condensed', sans-serif;
}

.wrapper {
  min-height: 600px;
}

header {
  @extend .page-header;
  position: relative;
  padding-bottom: 0px;
  
  &:first-child {
    margin-top: 20px;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.actions {
  @extend .list-unstyled;
  @extend .list-inline;
}

a.new, a.edit, a.delete, a.print, a.pdf {
  @extend .btn;
  
  &:before {
    font-family: "FontAwesome";
    padding-right: 0.5em;
  }
}

a.new {  
  @extend .btn-success;
  
  &:before {
    @extend .fa-plus;
  }
}

a.edit {
  @extend .btn-primary;
  
  &:before {
    @extend .fa-pencil;
  }
}

a.delete {
  @extend .btn-danger;
  
  &:before {
    @extend .fa-trash;
  }
}

a.print {
  @extend .btn-success;
  
  &:before {
    @extend .fa-print;
  }
}

a.pdf {
  @extend .btn-success;
  
  &:before {
    @extend .fa-file;
  }
}

.alert-notice {
  @extend .alert-success;
}

.alert-alert {
  @extend .alert-danger;
}

form {
  max-width: 500px;
}

.headercolor {
  color:brown;
}

.footercolor {
  color: white;
}

.smallcolor {
  color:forestgreen; 
}

p.logo img {
  width: 25%;
  text-align: center;
  margin: 2em 0 1em 0;
}

.headercolor img {
  width: 30%;
}

#wassups img {
  margin-bottom: 20px;
}

footer.footer {
  margin-top: 30px;
  border-top: 5px solid #cdcdcd;
  padding-top: 10px;
  background-color:darkslategray;
}

footer img {
  padding: 20px 0px 30px 0px;
  width: 100%;
}

footer .copy {
  padding: 30px;
  color:darkgrey;
  font-size: 0.95em;
}