// Place all the styles related to the clients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#clients h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 20px 0px 0px;
}

h4.mine {
    color: cornsilk;
}
  

#jobs {
  @extend .table;
  @extend .table-condensed;
  width: 90%;
  
  th.fifteen {
    width: 15%;
  }
  
  th.fifty {
    width: 50%;
  }
  
  tr.mine {
    background-color: cornsilk;
  }
  
  tr:first-child {
    td, th {
      border-top: 0px;
    }
  }
  
  td, th {
    line-height: 24px !important;
  }
}

.fa-check {
  color:forestgreen;
}

.fa-times {
  color: crimson;
}

.scorecard {
  background-color:darkgreen;
  color:lightgrey;
  padding: 10px;
  border: 1px solid #999;
  border-radius: 15px;
  margin: 10px 0;
  font-size: 12px;
  line-height: .5em;
}


.btn-team {
  margin-top: 0;
}