// Place all the styles related to the estimates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#estimates {
  @extend .table;
  @extend .table-condensed;
  width: 95%;
  margin-top: 3em;
  
  th.fifteen {
    width: 13%;
  }
  
  th.forty {
    width: 30%;
  }
  
  tr:first-child {
    td, th {
      border-top: 0px;
    }
  }
  
  td, th {
    line-height: 24px !important;
  }
}
