// Place all the styles related to the jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#attributes {
  @extend .table;
  @extend .table-condensed;
  width: 95%;
  
  th {
    width: 35%;
  }
  
  tr:first-child {
    td, th {
      border-top: 0px;
    }
  }
  
  td, th {
    line-height: 24px !important;
  }
}

blockquote.comment p,
#comments p {
  font-size: 12px;
}

blockquote footer {
    font-size: 11px;
  }

.status {
  font-size: 10px;
  color: white;
  padding: 0.3em 0.6em;
  font-variant: small-caps;
}

#jobs li {
  padding-bottom: 10px;
}

.tag {
  font-size: 10px;
  background-color:burlywood;
  margin-right: 10px;
  padding: 0.3em 0.4em;
  border: 1px solid #666;
  display: inline;
  
  a {
    color: black;
    
    &.remove {
      font-family: "FontAwesome";
      @extend .fa-close;
      margin-right: 0.5em;
      text-decoration: none;
    }
  }
}

.watch, .unwatch {
  @extend .btn;
  @extend .btn-xs;
  font-weight: bold;
  
  &:before {
    font-family: "FontAwesome";
    padding-right: 0.5em;
  }
}

.watch {
  @extend .btn-success;
  
  &:before {
    @extend .fa-eye;
  }
}

.unwatch {
  @extend .btn-danger;
  
  &:before {
    @extend .fa-eye-slash;
  }
}


