@media print {
  header, div.actions, table#attributes, #invoice_requisitions, #purchase_orders, #invoices, footer.footer {
    display: none;
  }
  #printer {
    width: 80%;
    margin: 5% auto;
  }
  p {
    font-family: "Helvetica-Neue", Helvetica, sans-serif;
    font-size: 18px;
    line-height: 22px;
  }
  small.address {
    color: #999;
    font-size: 13px;
    margin-bottom: 5%;
    padding-left: 15px;
  }
  #printer .logo {
    width: 150%;
  }
}

