<%= f.simple_fields_for :estfiles, child_index: index do |ff| %>
  <%= ff.input :file, as: :file, label: "File ##{index += 1}", hint: "For documents with the estimate like notes, MR, etc." %>
  <%= ff.input :file_cache, as: :hidden %>
<% end %>
