<%= simple_form_for [:admin, user] do |f| %>
<%= f.input :email %>
<%= f.input :password %>
<%= f.input :admin, label: "Is an admin?" %>
<%= f.input :finance, label: "Is finance?" %>
<%= f.input :casual, label: "CL Balance" %>
<%= f.input :sick, label: "SL Balance" %>
<%= f.input :privileged, label: "PL Balance" %>

<header>
  <h3>Roles</h3>
</header>

<table class="roles">
  <% clients.each do |client| %>
    <tr>
      <th><%= label_tag dom_id(client), client.name %></th>
      <td>
        <%= select_tag dom_id(client), options_for_select(roles, user.role_on(client)), name: "roles[#{client.id}]", include_blank: true %>
      </td>
    </tr>
  <% end %>
</table>

<%= f.button :submit, class: "btn btn-primary" %>
<% end %>