<div class="container">
  <div class= "row col-md-9">
    <header>
    <h3>Metalloids</h3>

    <ul class="actions">
    <li>
    <%= link_to "New Metalloid", new_admin_user_path, class: "new" %>
    </li>
    </ul>
    </header>

    <table id="jobs">
    <tr>
    <th>Metalloid</th>
    <th>CL</th>
    <th>SL</th>
    <th>PL</th>
    </tr>
    <% @users.each do |user| %>
    <tr>
    <td>
    <%= link_to user, [:admin, user] %>
    </td>
    <td>
    <%= user.casual %>
    </td>
    <td>
    <%= user.sick %>
    </td>
    <td>
    <%= user.privileged %>
    </td>
    </tr>  
    <% end %>
    </table>
  </div><!-- row col-md-9 -->
</div><!-- container -->