<header>
  <h3><%= @user %></h3>
  
  <ul class="actions">
    <li>
      <%= link_to "Edit Metalloid", [:edit, :admin, @user], class: "edit" %>
    </li>
    <li>
      <%= link_to "Archive Metalloid", [:archive, :admin, @user], method: :patch, data: { confirm: "Are you sure you want to archive this Metalloid?" }, class: "delete" %>
    </li>
  </ul>
</header>

<header>
  <h3>Roles</h3>
</header>

<% if @user.roles.any? %>
  <ul>
    <% @user.roles.each do |role| %>
      <li><%= role.client.name %>: <%= role.role.titleize %></li>
    <% end %>
  </ul>
<% else %>
  <p>This user has no roles.</p>
<% end %>
