<%= simple_form_for(wassup) do |f| %>
  <%= f.input :title %>
  <% if f.object.wimage? %>
  <p><%= image_tag f.object.wimage.thumb.url %></p>
  <p><%= f.label :remove_wimage %>
  <%= f.check_box :remove_wimage %></p>
<% end %>
  <%= f.input :wimage %>
  <%= f.input :wimage_cache, as: :hidden %>
  <%= f.input :text %>

  <%= f.button :submit, class: "btn-primary" %>
<% end %>