<%= f.simple_fields_for :images, child_index: index do |ff| %>
  <%= ff.input :image, as: :file, label: "Visual ##{index += 1}", hint: "For a visual idea like a print ad, outdoor ad, POP, etc." %>
  <%= ff.input :image_cache, as: :hidden %>
<% end %>
