<!DOCTYPE html>
<html>
<head>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed|Open+Sans:400,400italic' rel='stylesheet' type='text/css'>
 <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    <% if content_for?(:title) %>
      <%= yield(:title) %>
    <% else %>
       Metal Backstage
    <% end %>
  </title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <style>
    <% Status.all.each do |status| %>
    .status-<%= status.name.parameterize %> {
      background-color: <%= status.color %>
    }
    <% end %>
  </style>
</head>

<body>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header"> 
      <%= link_to "Backstage", root_path, class: "navbar-brand" %> 
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    
    <div class="collapse navbar-collapse" id="collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to Rails.configuration.version, "/" %></li>
        <li class="<%= 'active' if current_page?('/') %>">
          <%= link_to "Clients", root_path %>
        </li>
        <% admins_only do %>
          <li>
            <%= link_to "Admin", admin_root_path %>
          </li>
        
          <li class="<%= 'active' if current_page?('/ventypes') %>">
            <%= link_to "Vendors", admin_ventypes_path %>
          </li>
        <% end %>
        
        <% finance_only do %>
          <li>
            <%= link_to "Finance", finance_root_path %>
          </li>
        <% end %>
        
        <% unless user_signed_in? %>
          <li class="<%= 'active' if current_page?('/users/sign_in') %>">
            <%= link_to "Sign in", new_user_session_path %>
          </li>
        <% end %>
      </ul>
      
      <% if user_signed_in? %>
        <div class="navbar-right">
          <p class="navbar-text">
            Signed in as <%= current_user.email %>
          </p>
          <ul class="nav navbar-nav">
            <li>
              <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
            </li>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
</nav>
 <div class="wrapper">
  <div class="container">
    <% flash.each do |key, message| %>
    <div class="alert-dismissable alert alert-<%= key %>" data-dismiss="alert">
      <%= message %>
    </div>
    <% end %>
    <%= yield %>
  </div>
</div><!-- wrapper -->
 
  <footer class="footer">
  <div class="container">
    <div class="copy col-md-10"><small>v <%= Rails.configuration.version %>&nbsp;Copyright &copy; Metal Communications. All rights reserved. <% hol = Holiday.where("mumbai = ? AND whichday > ?", true, Date.today).order("whichday asc").limit(1) %>
      <% hol.each do |holi| %>
      <span class="footercolor">
        <%= holi.whichday.strftime("%d %b, %Y") %>
        <%= holi.name %>
      (Mumbai) | 
        <% if user_signed_in? && current_user.admin? %>
          <%= link_to "Edit", edit_holiday_path(holi) %>
        <% end %>
      <% end %>
 <% hol = Holiday.where("delhi = ? AND whichday > ?", true, Date.today).order("whichday asc").limit(1) %>
      <% hol.each do |holi| %>
        <%= holi.whichday.strftime("%d %b, %Y") %>
        <%= holi.name %>
      (Delhi)
      </span>
      <% if user_signed_in? && current_user.admin? %>
        <%= link_to "Edit", edit_holiday_path(holi) %>
      <% end %>
      <% end %>
      <% if user_signed_in? && current_user.admin? %>
        <%= link_to "New", new_holiday_path %>
      <% end %>
      </small>     
    </div>
    
    <div class="row col-md-2">
      <p><%= link_to (image_tag 'METAL-LOGO.jpg', :width => '20%'), "http://metalcomm.com" %></p>
    </div>
  </div><!-- container -->
  </footer>
</body>
</html>
